VITE_FULL_NAME="Indra Anomaly"
VITE_NICKNAME="indra87g"
VITE_TITLE="Vibe Coder"
VITE_SPREADSHEET_ID=1UjYFjJTm_6I_j6jKiy1SYIqPhWhnORMdLBxk7VW6wSw
VITE_GITHUB_LINK=https://github.com/indra87g
VITE_LINKEDIN_LINK=https://www.linkedin.com/in/ketut-shridhara-46bb792a5
VITE_CONTRIBUTIONS_LANGS_COUNT=10
VITE_CONTRIBUTIONS_INCLUDE_ALL_COMMITS=false
VITE_GITHUB_API_LINK=https://github-stats.kiuyha.my.id
